@use "../variables" as *;

.wrapper {
  display: grid;
  grid-template-rows: 15.2rem 1fr 20rem;
  grid-template-columns: 11.4% minmax(57rem, 111rem) 11.4%;
}

@media (max-width: $tablet) {
  .wrapper {
    grid-template-rows: 15.2rem 1fr 12rem;
    grid-template-columns: 12.6% minmax(37rem, 57rem) 12.6%;
  }
}

.main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  @include grid-12-col();
  grid-template-rows: auto;
  position: relative;
}