@use "../variables" as *;

.wrapper {
  @include grid-12-col();
  grid-template-rows: 15.2rem 1fr 20rem;

}

.main {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  @include grid-12-col();
  grid-template-rows: auto;
  position: relative;
}