@use "../variables" as *;

.wrapper {
  display: grid;
  grid-template-rows: 15.2rem 1fr auto;
  grid-template-columns: 1fr minmax(57rem, 111rem) 1fr;

  .main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    position: relative;
  }
}

@media (max-width: $desktop-small) {
  .wrapper {
    grid-template-columns: 10% minmax(57rem, 111rem) 10%;
  }
}

@media (max-width: $tablet) {
  .wrapper {
    grid-template-columns: 12.7% minmax(37rem, 1fr) 12.7%;
  }
}

@media (max-width: $tablet-small) {
  .wrapper {
    grid-template-columns: 8% minmax(37rem, 68rem) 8%;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    grid-template-rows: 9.6rem 1fr auto;
    grid-template-columns: 100vw;

    .modalOverlay {
      width: 100vw;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 1000;
    }

    .main {
      grid-column: 1 / -1;
      display: block;
    }
  }
}