@use "../../variables" as *;

.card {
  grid-column: span 4;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
  }

  &:hover .overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), rgba(255, 255, 255, 0.5);
  }

  .imgContainer {
    height: 100%;
    width: 100%;
    & img {
      height: 100%;
      width: 100%;
    }
  }

  .textContainer {
    position: absolute;
    left: 4rem;
    bottom: 4rem;
    color: #FFF;
    z-index: 20;

    .projectTitle {
      font-size: 3.2rem;
      line-height: 4rem;
      font-weight: 700;
    }

    .projectDate {
      font-size: 1.8rem;
      line-height: 2.4rem;
      opacity: 0.85;
    }
  }

  .projectNumber {
    position: absolute;
    color: #FFF;
    right: -1rem;
    top: 3rem;
    letter-spacing: -5px;
    font-size: 25rem;
    font-weight: 700;
    opacity: 0.5;
  }
}

@media (max-width: $tablet) {
  .card {
      grid-column: 1 / -1;

    .projectNumber {
      right: 1rem;
    }
  }
}

