@use "../../variables" as *;

.footer {
  grid-row: 3 / -1;
  grid-column: 2 / 3;
  background-color: $very-light-grey;
  margin-right: 12.6rem;
  position: relative;
}

@media (max-width: $tablet) {
  .footer {
    grid-column: 1 / -1;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.logoContainer {
  width: 20rem;
  height: 20rem;
  background-color: $very-dark-blue;
  margin-right: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 9.5rem;
    @include white-svg();
  }
}

@media (max-width: $tablet) {
  .logoContainer {
    width: 12rem;
    height: 12rem;
    margin-right: 4rem;

    img {
      width: 5.8rem;
    }
  }
}

.navList {
  display: flex;

  .navItem {
    font-family: $font;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5;
    color: $medium-grey;
    margin-right: 6rem;
    position: relative;
    @include smooth-transition;

    &:hover {
      color: $very-dark-blue;
    }
  }
}

.btnContainer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

@media (max-width: $tablet) {
  .btnContainer {
    margin-right: -1rem;
  }
}