@use "../../variables" as *;

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: auto 0;

  .nav {
    display: flex;
    align-items: center;

    .logoContainer {
      width: 9.5rem;
      margin-right: 9.5rem;
      flex-shrink: 0;
    }

    .navList {
      display: flex;

      .navItem {
        font-family: $font;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.5;
        color: $medium-grey;
        margin-right: 6rem;
        position: relative;
        @include smooth-transition;

        &:hover {
          color: $very-dark-blue;
        }
      }
    }

    .mobileMenu {
      display: none;
      cursor: pointer;
    }
  }
}

.active {
  color: $very-dark-blue;

  &::after {
    content: "";
    height: 2px;
    width: 50%;
    background-color: $very-dark-blue;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(50%, -50%);
  }
}

@media (max-width: $tablet) {
  .header {
    .nav {
      .logoContainer {
        margin-right: 7.8rem;
      }

      .navList {
        .navItem {
          line-height: 1.5;
          margin-right: 3.5rem;
        }
      }
    }
  }
}

@media (max-width: $tablet-small) {
  .header {
    .nav {
      .logoContainer {
        width: 7rem;
        margin-right: 5.5rem;
      }

      .navList {
        .navItem {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .header {
    grid-column: 1 / -1;
    padding: 3.2rem;
    background-color: #FFF;
    position: relative;
    z-index: 1001;

    .nav {
      justify-content: space-between;

      .logoContainer {
        width: 7.7rem;
      }

      .navList {
        position: absolute;
        top: 10.4rem;
        right: 0;
        background-color: $very-light-grey;
        height: 23.5rem;
        width: 34.3rem;
        padding: 3.9rem 4.8rem 0;
        flex-direction: column;
        z-index: 500;

        .navItem {
          color: $very-dark-blue;
          font-size: 3.2rem;
          line-height: 4rem;
          margin-bottom: 1.7rem;
          text-align: left;
        }
      }

      .mobileMenu {
        display: block;
      }
    }
  }

  .active::after {
    display: none;
  }
}