@use '../../variables' as *;

.wrapper {
  @include inner-grid();
  grid-column: 1 / -1;
  grid-template-rows: 1fr;
  align-items: end;
  position: relative;

  .textContainer {
    grid-column: 3 / 8;
    grid-row: 1;
  }

  .imgContainer {
    grid-column: 9 / -1;
    grid-row: 1;
  }

  .title {
    font-size: 25rem;
    color: $very-light-grey;
    letter-spacing: -5px;
    font-weight: 700;
    line-height: 20rem;
    position: absolute;
    top: -8.5rem;
    left: 0;
  }
}

@media (max-width: $desktop-small) {
  .wrapper {
    .textContainer {
      grid-column: 2 / 8;
      margin-top: 8rem;
    }

    .imgContainer {
      grid-column: 9 / -1;
      @include cover-image();
    }

    .title {
      font-size: 20rem;
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    margin-top: 7rem;

    .textContainer {
      grid-column: 1 / -1;
      margin-top: 0;
    }

    .imgContainer {
      display: none;
    }

    .title {
      font-size: 15.7rem;
      top: -16rem;
    }
  }
}

@media (max-width: $tablet-small) {
  .wrapper {
    .title {
      font-size: 12rem;
    }
  }
}

@media (max-width: $mobile) {
  .wrapper {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 3.2rem;
      height: 1px;
      width: 6.5rem;
      background-color: $light-grey;
    }

    .textContainer h2 {
      padding-top: 7rem;
    }

    .title {
      display: none;
    }
  }
}