@use '../../variables' as *;

.wrapper {
  grid-column: 1 / -1;
  @include grid-12-col();

  .title {
    grid-column: 1 / 4;
    height: 28rem;
  }

  .contacts {
    grid-column: 5 / -1;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-end;
  }
}

@media (max-width: $tablet) {
  .wrapper {
    .title {
      grid-column: 1 / -1;
      height: 24rem;
    }

    .contacts {
      grid-column: 1 / -1;
    }
  }

}

