@use '../../variables' as *;

.wrapper {
  grid-column: 1 / -1;
  @include inner-grid();

  .title {
    grid-column: 1 / 4;
    height: 28rem;
  }

  .contacts {
    grid-column: 5 / -1;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-end;
  }
}

@media (max-width: $desktop-small) {
  .wrapper {
    .contacts {
      gap: 2rem;
      justify-content: space-between;
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    .title {
      grid-column: 1 / -1;
      height: 24rem;
    }

    .contacts {
      grid-column: 1 / -1;
    }
  }
}

@media (max-width: $mobile) {
  .wrapper {
    display: block;
    margin-bottom: 7rem;

    .title {
      height: auto;
      margin-bottom: 4rem;

      & h2 {
        padding-top: 7rem;
      }
    }

    .contacts {
      display: block;
    }
  }
}

