@use '../../variables' as *;

.card {
  height: 40rem;
  width: 35rem;
  margin-bottom: 6.3rem;

  &:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }

  .imgContainer {
    margin-bottom: 1.5rem;
  }

  .name {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
  }

  .jobTitle {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $very-dark-blue;
  }
}