@use "../../variables" as *;

.wrapper {
  grid-column: 1 / -1;
  position: relative;
  @include smooth-transition();

  .imgContainer {
    filter: brightness(50%);
    @include cover-image();
  }

  .textContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 200;
    top: 0;
    left: 19rem;
    height: 35.5rem;
    max-width: 54.4rem;
    color: #FFF;
    transform: translateY(50%);

    h1 {
      font-size: 9.6rem;
      font-weight: 700;
      letter-spacing: -2px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.4rem;
      max-width: 44rem;
      margin-bottom: 4.1rem;
    }
  }

  .btnContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: -8rem;
    z-index: 500;
  }
}

@media (max-width: $desktop-small) {
  .wrapper {
    .textContainer {
      height: 25rem;
      top: -6rem;
      left: 10rem;

      h1 {
        font-size: 8.2rem;
      }

      p {
        max-width: 55rem;
      }
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    .textContainer {
      left: 5.8rem;
      right: 5.8rem;
      top: 0;

      p {
        width: 40rem;
      }
    }
  }
}

@media (max-width: $tablet-small) {
  .wrapper {
    .textContainer {
      left: 4rem;

      h1 {
        font-size: 7rem;
      }

      p {
        width: 30rem;
      }
    }
  }
}

@media (max-width: $mobile) {
  .wrapper {
    padding: 0;

    .textContainer {
      display: block;
      left: 3.2rem;
      top: -6rem;
      right: 3.2rem;

      h1 {
        font-size: 5.4rem;
        width: 70%;
        margin-bottom: 1.1rem;
      }

      p {
        margin-bottom: 6.5rem;
        width: auto;
      }
    }
  }
}
