/* FONTS */
$font: 'League Spartan', 'Verdana', sans-serif;

/* COLORS */
$very-dark-blue: #1B1D23;
$dark-grey: #60636D;
$medium-grey: #7D828F;
$light-grey: #C8CCD8;
$very-light-grey: #EEEFF4;
$red: #DF5656;

/* VIEWPORTS */
$desktop-small: 1280px;
$tablet: 916px;
$tablet-small: 648px;
$mobile: 414px;

/* MIXINS */
@mixin inner-grid {
  max-width: 111rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(6.5rem, 1fr));
  column-gap: 3rem;

  @media (max-width: $desktop-small) {
    grid-template-columns: repeat(12, minmax(3.5rem, 1fr));
    column-gap: 2.5rem;
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(6, minmax(3.5rem, 1fr));
    column-gap: 1rem;
  }

  @media (max-width: $tablet-small) {
    grid-template-columns: repeat(6, minmax(2rem, 1fr));
    column-gap: 1rem;
  }
}

@mixin smooth-transition {
  transition: all .25s ease-in;
}

@mixin white-svg {
  filter: brightness(0) invert(1);
}

@mixin cover-image {
  picture, img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}