@use "../../variables" as *;

.wrapper {
  grid-column: 1 / -1;
  height: 72rem;
  position: relative;
  @include smooth-transition();
}

.imgContainer {
  overflow: hidden;
  filter: brightness(50%);

  .image {
    display: block;
    width: 100%;
  }
}

.textContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
  top: 0;
  left: 19rem;
  max-width: 54.4rem;
  height: 35.5rem;
  color: #FFF;
  transform: translateY(50%);

  h1 {
    font-size: 9.6rem;
    font-weight: 700;
    letter-spacing: -2px;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 44rem;
  }
}

.btnContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: -8rem;
  z-index: 500;
}