@use "../../variables" as *;

.pageTitle {
  position: absolute;
  top: 0;
  left: -7.8rem;
  transform: rotate(90deg);
  transform-origin: top left;
  height: 2.4rem;
  font-size: 1.8rem;
  color: $light-grey;
  letter-spacing: 1.8rem;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0.6rem;
    left: -15.2rem;
    height: 1px;
    width: 10.4rem;
    background-color: $light-grey;
  }
}

@media (max-width: $desktop-small) {
  .pageTitle {
    left: -6rem;
  }
}

@media (max-width: $tablet) {
  .pageTitle {
    left: -4rem;
  }
}

@media (max-width: $tablet-small) {
  .pageTitle {
    display: none;
  }

}