@use '../../variables' as *;

.wrapper {
  grid-column: 1 / -1;
  @include inner-grid();
  grid-template-rows: 1fr;
  align-items: end;

  .textContainer {
    grid-column: 1 / 6;
    grid-row: 1;
    height: 56.8rem;
  }

  .imgContainer {
    grid-column: 7 / -1;
    grid-row: 1;
    @include cover-image();
  }
}

@media (max-width: $desktop-small) {
  .wrapper {
    .imgContainer {
      height: 100%;
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    .textContainer {
      grid-column: 1 / -1;
      height: 48.5rem;
    }

    .imgContainer {
      display: none;
    }
  }
}

@media (max-width: $mobile) {
  .wrapper {
    display: block;

    .textContainer {
      height: auto;

      & h2 {
        padding-top: 7rem;
      }
    }
  }
}