@use "../../variables" as *;

.textBlock {
  position: relative;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;

  .line {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 1px;
    width: 6.5rem;
    background-color: $light-grey;
  }

  .title {
    font-size: 7.2rem;
    color: $very-dark-blue;
    letter-spacing: -2px;
    font-weight: 700;
    margin-bottom: 5rem;
  }

  .text {
    font-size: 1.8rem;
    color: $dark-grey;
    line-height: 2.4rem;
  }
}

@media (max-width: $mobile) {
  .textBlock {
    display: block;
    width: 100%;

    .title {
      font-size: 4.8rem;
    }
  }
}